body {
    background: url('bilder/6148.jpg') no-repeat;
    background-size: cover;
    font-family: Arial;
    color: white;
  }
li
{
    list-style-type: none;
    text-align: center;
    float: left;
    
}
li a
{
    text-decoration: none;
    
    display: block
    color: black;
    line-height: 42px;
    /*transition: background 0.5s;*/
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul li {
  position: relative;
  margin-right: 0px;
  float: left;
  width:  150px;
  height: 40px;
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
ul li a {
  text-decoration: none;
  color: white;
  display: block;
}
ul li a:hover {
  background-color: red;
}
ul li ul li {
  display: none;
}
ul li:hover ul li {
  display: block;
}
ul.items,
ul.name0,
ul.name1,
ul.name2,
ul.sub-items
{
    position: relative;
    display: none;
}
ul.items
{
    right: 0.1px;
}
ul.sub-items
{
    left: 189.10px;
    bottom: 1px;
}
ul.name0
{
    left: 191.10px;
    bottom: 42.10px;
}
ul.name1
{
    left: 191.10px;
    bottom: 42.10px;
}
ul.name2
{
    left: 191.10px;
    bottom: 42.10px;
}
ul > li:hover > ul
{
    display: block;
}
#navbar > li
{
    margin-top: 1px;
    margin-right: 1px;
}
ul.items li
{
    /*border-top: 1px solid white;*/
}
ul.sub-items
{
    border-left: 1px solid white;
}
ul.name0
{
    border-left: 1px solid white;
}
ul.name1
{
    border-left: 1px solid white;
}
ul.name2
{
    border-left: 1px solid white;
}
ul > li:hover > a
{
    background: red;
}